<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'style.css') }}">
</head>
<body>
<div class="header">
	<h2>Home Page</h2>
</div>
<form method="post" action="/" enctype="multipart/form-data">
<div>
            <p>Welcome!</strong></p>
            <p>First Name: <strong>{{first_name}}</strong></p>
            <p>Last Name: <strong>{{last_name}}</strong></p>
            <p>Email: <strong>{{email}}</strong></p>
        </div>
        <div class="input-group">
            <input type="file" name="file" autocomplete="off" required>
            <input type="submit" value="Submit">
        </div>
    	<p> <a href="/logout/" style="color: red;">logout</a> </p>
    
</form>
</body>
</html>